@font-face {
    font-family: "futura PT";
    font-weight: 400;
    font-display: swap; 
    src: url("../fonts/futuraPT400.woff2") format("woff2"),
    url("../fonts/futuraPT400.woff") format("woff"); 
}
@font-face {
    font-family: "futura PT";
    font-weight: 500;
    font-display: swap; 
    src: url("../fonts/futuraPT500.woff2") format("woff2"),
    url("../fonts/futuraPT500.woff") format("woff"); 
}
@font-face {
    font-family: "futura PT";
    font-weight: 700;
    font-display: swap; 
    src: url("../fonts/futuraPT700.woff2") format("woff2"),
    url("../fonts/futuraPT700.woff") format("woff"); 
}
@font-face {
    font-family: "futura PT";
    font-weight: 300;
    font-display: swap; 
    src: url("../fonts/futuraPT300.woff2") format("woff2"),
    url("../fonts/futuraPT300.woff") format("woff"); 
}